@charset "utf-8";
/* CSS Document */
ul.social_icons li a {
	transition: opacity 0.1s;
}
.social_icons i {
	border-radius: 50%;
	font-size: 16px;
	color: #000;
	background-color: #FFF;
	padding: 7px;
	margin: 0 7px;
}

.content-2 h5 {
	float: right;
	vertical-align: middle;
	background-color: #F47564; /*#59c4bc;*/
	padding: 0px 4px;
	border-radius: 2px;
	margin-left: 3px;
	color: #fff;
	cursor: pointer;
}

.content-2 h5:first-of-type {
	background-color: #59c4bc;
	color: #000;
}

body {
	margin:0;
	padding:0;
	background:#EDE9DF url(img/topbg.png) top repeat-x fixed;
    font-family: "Open Sans",sans-serif;
	font-size:13px;
	}
ul {
	padding:0;
	}
.pro_cover {
	width:390px;
	min-height:400px;
	background:#fff url(img/cover.png) top center no-repeat;
	margin:100px auto 0;
	text-align:center;
	border-radius: 7px 7px 0 0;
	}
	.pro_cover .name {
		font-size:30px;
		color:#fff;
		margin:10px 0;
		}
	.pro_cover .tw-name {
		color:#eee;
		font-size: 15px;
		font-style: italic;
		font-weight: 600;
		margin: 0 0 10px;
		}
	.pro_dp {
		border: 8px solid #fff;
		border-radius:50%;
		box-shadow: 0 0 7px #898989;
    	margin: -20% 24% 5%;
    	width: 150px;
		}
	ul.social_icons {
		list-style:none;
		}
	ul.social_icons li{
		display:inline-block;
		margin:0 5px;
		font-size:36px;
		}
	ul.social_icons li a {
		text-decoration:none;
		outline:none;
		opacity:0.8;
		color:#fff;
		}
	ul.social_icons li a:hover {
		opacity:1;
		}
		

#skill { 
	list-style:none; 
	padding-top:10px;
	width:310px;
	padding-left:0 !important;
	position: relative;
}

#skill li { 
	margin-bottom:15px; 
	background:#eaedf2; 
	height:30px; 
	border-radius:3px; 
}

#skill li em { 
	position:relative; 
	top:-30px;
}

.expand { 
	border-radius: 3px;
    color: #323A45;
    font-style: italic;
    font-weight: bold;
    height: 18px;
    margin: 2px 0;
    padding: 4px 0 4px 5px;
    position: absolute;
}

.html5       { width:70%; background:#14bad4;  -moz-animation:html5 2s ease-out;       -webkit-animation:html5 2s ease-out;       }
.css3        { width:90%; background:#fed201;  -moz-animation:css3 2s ease-out;        -webkit-animation:css3 2s ease-out;        }
.jquery      { width:50%; background:#f5696c;  -moz-animation:jquery 2s ease-out;      -webkit-animation:jquery 2s ease-out;      }
.photoshop   { width:40%; background:#5ac5bd;  -moz-animation:photoshop 2s ease-out;   -webkit-animation:photoshop 2s ease-out;   }
.dreamweaver { width:60%; background:#c6de64; -moz-animation:dreamweaver 2s ease-out; -webkit-animation:dreamweaver 2s ease-out; }

@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;
